@(walletId: String, scriptedTransactionRequestForm: Form[controllers.ViewController.ScriptedTransactionRequestData])(implicit lang: play.api.i18n.Messages)

@import helper._

@layout("Payment transaction") {
<div class="container">

    @b4.horizontal.form(routes.ViewController.sendScriptedTransactionFromForm(walletId), "col-sm-3", "col-sm-9") { implicit hfc =>
        @b4.text(scriptedTransactionRequestForm("scriptedTransactionRequest.fee"), '_label -> "Fee", 'placeholder -> 0, 'type -> "number")
        @b4.text(scriptedTransactionRequestForm("scriptedTransactionRequest.amount"), '_label -> "Amount", 'placeholder -> 0, 'type -> "number")
        @b4.textarea(scriptedTransactionRequestForm("scriptedTransactionRequest.source"), '_label -> "Source", 'rows -> 15, 'placeholder -> "Smart contract source code")
        @b4.textarea(scriptedTransactionRequestForm("inputsIds"), '_label -> "Inputs", 'rows -> 15, 'placeholder ->
    """|Optional comma-separated IDs of inputs is special format e.g. :
    |
    |013d9ac1455a6f67cb1b4614153b6e1b4d566b1380e742fffb43421952d7c220
    |>>>>>>
    |contract (sig: Signature25519, tx: Transaction, state: State) = {
    |let pubKey = base16'e49e7e31ce52f75efcdd6c91996028fe57c5f9f3302342d495653d856f68df22'
    |checkSig(sig, tx.messageToSign, pubKey) && state.height > 90
    |}
    |------
    |019ea638a100c16202b4cfb86da9cede0c634cf4ad70bfff3afe6d58e8f1ff8b
    |------
    |012068c460d58e8670f8adc156deed82e8dec87a98ad57438c9e38a195c29007
    |""".stripMargin)
        @b4.submit('class -> "btn btn-default"){ Submit }
    }
}
